/target/
/.cpcache/
/.clj-kondo/
/.lsp/
/.idea/
/.vscode/
.arrodes/
.data/
/.references/
/node_modules/
.DS_Store
.env
.env.*
!.env.example
*.log
*.sqlite
*.sqlite-*
*.sqlite3
*.db
*.db-*
*.hprof
*.jfr

__pycache__/
*.pyc
